@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

//imports

@import "_mixins";
@import "_bucle";

//fonts

$font1: "Mansalva", cursive;
$font2: "Bebas Neue", cursive;
$font3: "Open Sans", sans-serif;

//dimensiones

$size1: 17px;
$size2: 30px;
$size3: 40px;
$size4: 50px;

//alineacion h2 y p

$center-align: center;

// paleta colores

$color1: #800000;
$color2: red;
$color3: black;
$color4: white;

//globales

h2 {
  font-size: $size3;
  font-family: $font3;
  color: $color3;
  text-align: $center-align;
}

h3 {
  font-family: $font2;
  font-size: $size3;
  color: $color1;
}

p {
  font-size: 15px;
  font-family: $font3;
  text-align: $center-align;
  font-style: italic;
}

a {
  font-size: 15px;
  font-family: $font3;
  font-weight: BOLD !important;
}

ul a {
  color: $color3 !important;
}

/* ----linea corta roja  separacion-- global---- */
.linea {
  border-bottom: 1px solid rgb(221, 30, 30);
  border-width: 1px;
  margin: 20px auto;
  width: 90px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* /*logo/nav------INDEX Y SECCIONES--uso bootstrap-- */

.navbar {
  background-color: white;

  .navbar-brand img {
    height: 60px;
  }

  .navbar-toggler {
    border: none;

    i {
      color: black;
      font-size: 20px;
    }
  }

  .navbar-nav {
    .nav-link {
      color: black;
      letter-spacing: 1px;
      font-size: 20px;
      margin-inline: 40px;
    }
  }
}

/* /  INDEX Section foto-titulo  img - h1 */

.bg-image {
  background-image: url(img/13.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;

  .titulo1 {
    color: white;
    font-family: $font2;
    font-size: 11rem;
    text-shadow: 10px 3px 3px black;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @media (max-width: 385px) {
      font-size: 5rem;
      text-align: center;
      height: auto;
      white-space: normal;
    }
  }

  @media (max-width: 767px) {
    height: 300px;
  }

  @media (max-width: 575px) {
    height: 200px;
  }
}

/*   INDEX --section -Nuestros Eventos -h2-video.mp4  --- */

/* animacion*/

.zoom-image {
  animation-name: zoom;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes zoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/*  INDEX -section- quienesSomos ------------------ */

.quienesSomos {
  text-align: center;

  p {
    margin-bottom: 20px;
  }
}

/*   INDEX --section -Nuestros Eventos -h2-video.mp4  --- */

.tituloNe {
  h2 {
    background-color: white;

    margin: 0 auto;
    height: 100px;
    width: 100%;
  }
}

.contNe {
  width: 100%;
  height: 500px;

  video {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .contNe1 {
    text-align: center;
    padding: 50px;
    height: 100px;
    position: relative;
    top: -100px;
  }
}

/* ----------------------INICIO SECCIONES---------------------------------------------- */

/* SECCION--CONTACTOS------ */

.tituloCont {
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}

.nleftForm {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 40px;
}

.nleftForm p {
  color: red;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.container-fluid i {
  font-size: 20px;
  color: #d31414;
  height: 20px;
}
.nleftForm .nleftPhone {
  display: flex;
  flex-direction: row;
}
.nleftForm .nleftEmail {
  display: flex;
  flex-direction: row;
}

.nrightForm {
  position: relative;
  right: 40px;
}

form {
  padding: 20px;
  margin-top: 80px;
}

form input[type="text"],
form input[type="tel"] {
  height: 50px;
  border: solid 2px grey;
  margin-bottom: 20px;
}

form input[type="email"] {
  height: 50px;
  border: solid 2px grey;
  margin-bottom: 30px;
}

form .form-control {
  border: solid 2px grey;
}

button.btn-primary {
  border: 2px solid #000;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #d31414;
  color: #000;
  font-weight: bold;
}

/* ---------------SECCION EVENTOS----------- */

.tituloEvent {
  h2 {
    width: 100%;
    margin-top: 100px;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding-top: 60px;
  margin-bottom: 30px;
  

  .foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      margin-top: 10px;
      margin-top: 30px;

      &::first-letter {
        font-size: 160%;
        color: red;
        font-weight: bold;
        padding: 2px;
      }
    }
  }
}




/* ---------------SECCION NOSOTROS --------------- */

section .jumbotron {
  background-image: url(img/14.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: space;
  background-attachment: fixed, scroll;
  height: 500px;
  width: 100%;
  color: rgb(253, 253, 247);
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;

  h2 {
    color: white;
    padding: 50px;
    font-weight: bold;
  }
}

.jumbotron p {
  margin-top: 5px;
  font-size: 16px;
}

main .tituloQs {
  background-color: rgb(5, 5, 4);
  color: white;
  margin: 0 auto;
  font-weight: bold;
}

.nleft {
  height: 500px;
  background-image: url(img/12.jpg);
  background-size: cover;
  background-position: center;
  border: solid 3px black;
}

.nright {
  height: 500px;
  color: rgb(20, 19, 19);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
  border: solid 3px black;

  p {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
  }
}

.nright p::first-letter {
  font-size: 160%;
  color: $color1;
  font-weight: bold;
}

/* ------------ SECCION GALERIA------------------ */

.tituloGal {
  h2 {
    padding: 50px;
    margin: 50px 0 auto;
    width: 100%;

    p {
      padding: 20px;
      text-align: center;
    }
  }
}

.galeria {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-gap: 20px;
}

/*-------------- FOOTER index y  todas las secciones-------- */

.footer {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;

  p {
    margin-bottom: 20px;
  }
}

i {
  color: rgb(244, 248, 246);
  font-size: 30px;
  letter-spacing: 20px;
}

/* -------------MEDIA QUERIES------------ */

/* ----------------GALERIA */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
  }

  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
}

@media only screen and (min-width: 575px) and (max-width: 945px) {
  .nleft {
    width: 100%;
    height: auto;
  }
}
