@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
._boton {
  padding: 3px 20px;
  border-radius: 10px;
  font-size: 17px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
  font-weight: bold;
  border-style: none;
}
@media only screen and (min-width: 250px) and (max-width: 450px) {
  ._boton {
    padding: 2px 15px;
    margin-bottom: 60px;
    font-size: 14px;
  }
}
._boton:hover {
  background-color: rgb(229, 163, 31);
  color: black;
  text-decoration: none;
}

.item1 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/1.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item1:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

.item2 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/2.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item2:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

.item3 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/3.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item3:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

.item4 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/4.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item4:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

.item5 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/5.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item5:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

.item6 {
  width: 100%;
  background-color: white;
  border: 5px solid white;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/6.png");
  filter: grayscale(100%);
  transition: all 0.9s;
}
.item6:hover {
  transition: all 0.9s;
  background-size: 100%;
  filter: grayscale(10%);
}

body {
  background-color: #fafafa;
}

h2 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}
@media (max-width: 400px) {
  h2 {
    font-size: 1.6em;
  }
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #800000;
}

p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 400px) {
  p {
    font-size: 14px;
  }
}

a {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: BOLD !important;
  text-decoration: none !important;
}

ul a {
  color: black !important;
}

/* ----linea corta roja  separacion-- global---- */
.linea {
  border-bottom: 3px solid #800000;
  margin: 20px auto;
  width: 90px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* /*barra de navegacion------INDEX Y SECCIONES--uso bootstrap-- */
.navbar {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}
.navbar .navbar-brand img {
  height: 60px;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler i {
  color: black;
  font-size: 20px;
}
.navbar .navbar-nav .nav-link {
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  margin-inline: 30px;
}

/* /  INDEX Section foto-titulo  img - h1 */
.bg-image {
  background-image: url(img/13.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  position: relative;
}
.bg-image .titulo1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 10rem;
  text-shadow: 10px 3px 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  letter-spacing: 2px;
}
@media (max-width: 500px) {
  .bg-image .titulo1 {
    font-size: 5rem;
    text-align: center;
    height: auto;
    white-space: normal;
    letter-spacing: 6px;
    justify-content: left;
  }
}
@media (max-width: 767px) {
  .bg-image {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .bg-image {
    height: 200px;
  }
}

/*  INDEX -section- quienesSomos ------------------ */
.quienesSomos {
  text-align: center;
  background-size: cover;
}
.quienesSomos p {
  margin-bottom: 20px;
  line-height: 30px;
}

/*   INDEX --section -Nuestros Eventos -h2-video.mp4  --- */
.contNe {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.contNe video {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videoTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.videoTitulo h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

#parrafoQs {
  letter-spacing: 1px;
  margin-top: 10px;
  color: rgb(252, 252, 250);
  font-size: 25px;
  font-style: italic;
  padding: 20px;
}
@media (max-width: 400px) {
  #parrafoQs {
    font-size: 16px;
  }
}

.contNe:hover {
  filter: none;
}

/* Index - Reseñas */
.reseñas {
  padding: 50px 0;
}
.reseñas .reseña {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}
.reseñas .reseña h3 {
  color: #800000;
  font-size: 18px;
  text-align: center;
}
.reseñas .reseña p {
  color: #888;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
}
.reseñas .rating {
  color: gold;
  text-align: center;
}
.reseñas .rating i {
  font-size: 15px;
  text-align: center;
}

/* ----------------------INICIO SECCIONES---------------------------------------------- */
/* CONTACTO*/
.tituloCont {
  width: auto;
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}

.container-fluid p {
  color: #800000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.container-fluid i {
  font-size: 16px;
  color: #050404;
}
.container-fluid .nleftPhone {
  display: flex;
  flex-direction: row;
}
.container-fluid .nleftEmail {
  display: flex;
  flex-direction: row;
}

form {
  padding: 25px;
  margin-top: 80px;
}

form input[type=text],
form input[type=tel],
form input[type=email],
form textarea {
  height: 40px;
  border: solid 1px grey;
  margin-bottom: 2px;
}

form .form-control {
  border: solid 1px grey;
}

button.btn-dark {
  border: 1px solid #000;
  width: 100%;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #800000;
  color: white;
}

/* ---------------SECCION EVENTOS----------- */
.tituloEvent h2 {
  width: 100%;
  margin-top: 100px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding-top: 60px;
  margin: 0 auto;
}
.contenedor .foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.contenedor .foto img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor .foto h4 {
  height: 50px;
  width: auto;
  padding-top: 20px;
  font-size: 25px;
  color: #800000;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.contenedor .foto p::first-letter {
  font-size: 160%;
  color: black;
  font-weight: bold;
  padding: 2px;
}

.circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 6px;
}

.circulo span {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#acordeon1 {
  padding-top: 20px;
}

.collapse li {
  color: #800000;
}

/* ---------------SECCION NOSOTROS --------------- */
.jumbotron {
  background-image: url(img/14.jpg);
  background-color: white;
  background-size: cover;
  background-position: bottom;
  background-repeat: space;
  background-attachment: fixed, scroll;
  height: 500px;
  width: 100%;
  color: rgb(253, 253, 247);
  border-radius: 0;
  margin-bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron p {
  margin-top: 30px;
  color: rgb(252, 252, 250) !important;
  font-size: 25px;
  font-style: italic;
  padding: 20px;
}

.tituloQs {
  background-color: rgb(5, 5, 4);
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
}

.container-fluid {
  background-color: #fafafa;
}

.nleft {
  height: 500px;
  width: 100%;
  background-image: url(img/12.jpg);
  background-size: cover;
  background-position: center;
}

.nright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  padding: 20px;
}
.nright p {
  color: black;
  font-style: italic;
}
.nright p::first-letter {
  font-size: 160%;
  color: #800000;
  font-weight: bold;
}

/* ------------ SECCION GALERIA------------------ */
.tituloGal h2 {
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}
.tituloGal p {
  padding-top: 20px;
  text-align: center;
}

.galeria {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-gap: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.galeria :hover {
  box-shadow: 0px 5px 10px 3px #999999;
  border-radius: 6px;
}

/*-------------- FOOTER index y  todas las secciones-------- */
.footer {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

footer i {
  color: rgb(244, 248, 246);
  font-size: 30px;
  letter-spacing: 30px;
}

/* -------------MEDIA QUERY EVENTOS------------ */
@media only screen and (min-width: 500px) and (max-width: 777px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
/* ----------------MEDIAS QUERY GALERIA---------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 945px) {
  .nleft {
    width: 100%;
    height: auto;
  }
}
/* -------------MEDIA QUERY NOSOTROS------------ */
@media (min-width: 150px) and (max-width: 350px) {
  .jumbotron p {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 1px;
  }
}
/* -------------MEDIA QUERY CONTACTO------------ */
@media (min-width: 577px) {
  .nleftForm {
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 100px;
    left: 30px;
  }
  .nrightForm {
    width: 60%;
    position: relative;
    left: 10px;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .nleftForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
/* -------------MEDIA QUERY FOOTER------------ */
@media only screen and (max-width: 400px) {
  .footer h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 386px) {
  .footer p {
    font-size: 12px;
  }
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: px;
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar {
  opacity: 1;
}/*# sourceMappingURL=estilos.css.map */